body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for Toolbox */

.toolbox_sidebar{
  position:fixed;
  top:0;
  right:0%;
  height: 100%;
  width: 70px;
  background-color: #1E2022;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.toolbox_sidebar.expanded{
  width:230px;
}


.toolbox_sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  padding-left: 17.5px;

  width: 100%;
  align-items: center;
}

.toolbox_sidebar .logo_content .logo .btn{
  height:37px;
  width:33px;
  display: flex;
  
  
  align-items: center;
  padding: 0;
}

.toolbox_sidebar .logo_content .logo .btn i{
  font-size: 30px;
}

.toolbox_sidebar .logo_content .logo_name{
  font-size: 19px;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif;
}

.toolbox_sidebar ul{
  margin-top: 20px;
  padding: 0%;
}

.toolbox_sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  text-align: center;
  font-family: 'Wix Madefor Display', sans-serif;
  
}


.toolbox_sidebar ul li .component_text{
  color: #fff;
  display: inline-flex;
  margin-left: 5px;
}

.toolbox_sidebar ul li .tooltip{
  position: absolute;
  height: 120px;
  width: 170px;
  right: 230px;
  top: 0%;
  line-height: 20px;
  text-align: center;
  opacity: 0;
  font-family: 'Times New Roman'
}

.toolbox_sidebar ul li .component_btn:hover + .tooltip{
  opacity: 1;
}

.def_hovered{
  background-color: #0d6efd;
}

.def_tooltip{
  background-color: #0d6efd;
  color:#fff;
}

.prop_hovered{
  background-color: #198754;
}

.prop_tooltip{
  background-color: #198754;
  color:#fff;
}

.evid_hovered{
  background-color: #0dcaf0;
}

.evid_tooltip{
  background-color: #0dcaf0;
}

.con_hovered{
  background-color: #dc3545;
}

.con_tooltip{
  background-color: #dc3545;
  color:#fff;
}

.note_hovered{
  background-color: #ffc107;
}

.note_tooltip{
  background-color: #ffc107;
}
