body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for Workspace*/
.add_mode *{
  cursor: none;
}

.selected_workspace{
  cursor: not-allowed;
}

/* for canvas*/
.canvas_selected{
  cursor: not-allowed;
}

/* for Toolbox */
.selected_toolbox{
  cursor: not-allowed;
}

.toolbox_sidebar{
  position:fixed;
  top:0;
  right:0%;
  height: 100%;
  width: 70px;
  background-color: #1E2022;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.toolbox_sidebar.expanded{
  width:230px;
}


.toolbox_sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  padding-left: 17.5px;
  width: 100%;
  align-items: center;
}

.toolbox_sidebar .logo_content .logo .btn{
  height:37px;
  width:33px;
  display: flex;
  align-items: center;
  padding: 0;
}

.toolbox_sidebar .logo_content .logo .btn i{
  font-size: 30px;
}

.toolbox_sidebar .logo_content .logo_name{
  font-size: 19px;
  font-weight: 400;
  margin-left: 5px;
  font-family: 'Nanum Gothic', sans-serif;
}

.toolbox_sidebar ul{
  margin-top: 20px;
  padding: 0%;
}

.toolbox_sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  text-align: center;
  font-family: 'Wix Madefor Display', sans-serif;
}


.toolbox_sidebar ul li .component_text{
  color: #fff;
  display: inline-flex;
  margin-left: 5px;
}

.toolbox_sidebar ul li .tooltip{
  position: absolute;
  height: 120px;
  width: 170px;
  right: 230px;
  top: 0%;
  line-height: 20px;
  text-align: center;
  opacity: 0;
  font-family: 'Times New Roman'
}

.toolbox_sidebar ul li .component_btn:hover + .tooltip{
  opacity: 1;
}

.def_hovered{
  background-color: #0d6efd;
}

.def_tooltip{
  background-color: #0d6efd;
  color:#fff;
}

.prop_hovered{
  background-color: #198754;
}

.prop_tooltip{
  background-color: #198754;
  color:#fff;
}

.just_hovered{
  background-color: #0dcaf0;
}

.just_tooltip{
  background-color: #0dcaf0;
}

.con_hovered{
  background-color: #dc3545;
}

.con_tooltip{
  background-color: #dc3545;
  color:#fff;
}

.note_hovered{
  background-color: #ffc107;
}

.note_tooltip{
  background-color: #ffc107;
}

/* for Canvas*/

.canvas{
  min-height: 200vh;
  min-width: 100vw;
  overflow: hidden;
  background: #ECF8F9;
}

/* for inputbox */

.general_box{
  z-index: 1;
  padding: 2px;
  transition: box-shadow 0.1s ease-in-out;
  border-radius: 16px;
}

.Defbox.selected_box_selectable.expanded_box:hover{
  box-shadow: rgba(13,110,253, 0.4) 0 2px 0 5px, rgba(13,110,253, 0.3) -10px 10px, rgba(13,110,253, 0.2) -15px 15px, rgba(13,110,253, 0.1) -20px 20px, rgba(13,110,253, 0.05) -25px 25px;
}

.Defbox .selected_term.retracted_term:hover{
  box-shadow: rgba(13,110,253, 0.4) -5px 5px, rgba(13,110,253, 0.3) -10px 10px, rgba(13,110,253, 0.2) -15px 15px, rgba(13,110,253, 0.1) -20px 20px, rgba(13,110,253, 0.05) -25px 25px;
}

.selected_box:hover{
  cursor: not-allowed;
}

.Defbox{
  min-width: 400px;
}

.Propbox.selected_box_selectable.expanded_box:hover{
  box-shadow: rgba(25,135,84, 0.4) 0 2px 0 5px, rgba(25,135,84, 0.3) -10px 10px, rgba(25,135,84, 0.2) -15px 15px, rgba(25,135,84, 0.1) -20px 20px, rgba(25,135,84, 0.05) -25px 25px;
}

.Propbox .selected_term.retracted_term:hover{
  box-shadow: rgba(25,135,84, 0.4) -5px 5px, rgba(25,135,84, 0.3) -10px 10px, rgba(25,135,84, 0.2) -15px 15px, rgba(25,135,84, 0.1) -20px 20px, rgba(25,135,84, 0.05) -25px 25px;
}


.Propbox{
  min-width: 500px;
}

.Justbox.selected_box_selectable.expanded_box:hover{
  box-shadow: rgba(13,202,240, 0.4) 0 2px 0 5px, rgba(13,202,240, 0.3) -10px 10px, rgba(13,202,240, 0.2) -15px 15px, rgba(13,202,240, 0.1) -20px 20px, rgba(13,202,240, 0.05) -25px 25px;
}

.Justbox .selected_term.retracted_term:hover{
  box-shadow: rgba(13,202,240, 0.4) -5px 5px, rgba(13,202,240, 0.3) -10px 10px, rgba(13,202,240, 0.2) -15px 15px, rgba(13,202,240, 0.1) -20px 20px, rgba(13,202,240, 0.05) -25px 25px;
}

.Justbox{
  min-width: 500px;
}

.Conbox.selected_box_selectable.expanded_box:hover{
  box-shadow: rgba(220,53,69, 0.4) 0 2px 0 5px, rgba(220,53,69, 0.3) -10px 10px, rgba(220,53,69, 0.2) -15px 15px, rgba(220,53,69, 0.1) -20px 20px, rgba(220,53,69, 0.05) -25px 25px;
}

.Conbox .selected_term.retracted_term:hover{
  box-shadow: rgba(220,53,69, 0.4) -5px 5px, rgba(220,53,69, 0.3) -10px 10px, rgba(220,53,69, 0.2) -15px 15px, rgba(220,53,69, 0.1) -20px 20px, rgba(220,53,69, 0.05) -25px 25px;
}

.Conbox{
  min-width: 500px;
}

.Notebox.selected_box_selectable.expanded_box:hover{
  box-shadow: rgba(255,193,7, 0.4) 0 2px 0 5px, rgba(255,193,7, 0.3) -10px 10px, rgba(255,193,7, 0.2) -15px 15px, rgba(255,193,7, 0.1) -20px 20px, rgba(255,193,7, 0.05) -25px 25px;
}

.Notebox .selected_term.retracted_term:hover{
  box-shadow: rgba(255,193,7, 0.4) -5px 5px, rgba(255,193,7, 0.3) -10px 10px, rgba(255,193,7, 0.2) -15px 15px, rgba(255,193,7, 0.1) -20px 20px, rgba(255,193,7, 0.05) -25px 25px;
}

.Notebox{
  min-width: 400px;
}

.general_box .term_box{
  border-radius: 16px;
  border-style: solid;
  transition: all 0.1s ease;
  cursor: move;
}

.general_box.selected_box .term_box:hover{
  cursor: not-allowed;
}

.general_box.selected_box .content_box{
  resize: none;
}

.general_box.selected_box_selectable .content_box{
  resize: none;
}

.general_box.selected_box .content_box:hover{
  cursor: not-allowed;
}

.general_box.selected_box .content_box .general_textarea:hover{
  cursor: not-allowed;
}

.general_box.selected_box .term_box .label_box .btn:hover{
  cursor: not-allowed;
}

.general_box.selected_box_selectable .term_box:hover{
  cursor: default;
}

.general_box.selected_box_selectable:hover{
  cursor: default;
}

.general_box.selected_box_selectable .content_box:hover{
  cursor: default;
  
}

.general_box.selected_box_selectable .content_box .general_textarea:hover{
  cursor: default;
}

.general_box .term_box .label_box .btn{
  padding: 0%;
}

.Defbox .term_box{
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.Defbox.disabled_box .term_box{
  background-color: #606060;
  border-color: #606060;
}

.Defbox.disabled_box .term_box .btn{
  background-color: #606060;
  border-color: #606060;
}

.Propbox .term_box{
  background-color: #198754;
  border-color: #198754;
}

.Propbox.disabled_box .term_box{
  background-color: #606060;
  border-color: #606060;
}

.Propbox.disabled_box .term_box .btn{
  background-color: #606060;
  border-color: #606060;
}

.Justbox .term_box{
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.Justbox.disabled_box .term_box{
  background-color: #959595;
  border-color: #959595;
}

.Justbox.disabled_box .term_box .btn{
  background-color: #959595;
  border-color: #959595;
}

.Conbox .term_box{
  background-color: #dc3545;
  border-color: #dc3545;
}

.Conbox.disabled_box .term_box{
  background-color: #686868;
  border-color: #686868;
}

.Conbox.disabled_box .term_box .btn{
  background-color: #686868;
  border-color: #686868;
}

.Notebox .term_box{
  background-color: #ffc107;
  border-color: #ffc107;
}

.Notebox.disabled_box .term_box{
  background-color: #BFBFBF;
  border-color: #BFBFBF;
}

.Notebox.disabled_box .term_box .btn{
  background-color: #BFBFBF;
  border-color: #BFBFBF;
}

.general_box .expanded_term{
  border-radius: 16px 16px 0 0;
}

.general_box .row{
  width: 100%;
  margin: 0;
}

.general_box .term_box{
  max-width: 95%;
  width: fit-content;
}

.general_box .term_box .label_box{
  text-align: center;
  padding: 0 5px 0 0;
}

.general_box .term_box .input_box{
  text-align: left;
  padding:0;
  overflow: hidden;
  max-width: 250px;
}

.general_box.disabled_box .term_box .input_box{
  max-width: 190px;
}

.general_box .not_justified{
  cursor: default;
}

.general_box .term_box .expand_box{
  text-align: center;
  padding: 0 0 0 5px;
}

.Defbox .term_box .expand_box{
  color: #fff;
}

.Propbox .term_box .expand_box{
  color: #fff;
}

.Justbox .term_box .expand_box{
  color: #000;
}

.Conbox .term_box .expand_box{
  color: #fff;
}

.Notebox .term_box .expand_box{
  color: #000;
}

.general_box .term_box .expand_box .btn{
  padding: 0%;
  transition: all 0.3s ease;
}

.Defbox .term_box .expand_box .btn{
  background-color: #7149C6;
}

.Defbox.disabled_box .term_box .expand_box .btn{
  background-color: #626262;
}

.Propbox .term_box .expand_box .btn{
  background-color: #41644A;
}

.Propbox.disabled_box .term_box .expand_box .btn{
  background-color: #565656;
}

.Justbox .term_box .expand_box .btn{
  background-color: #79E0EE;
}

.Justbox.disabled_box .term_box .expand_box .btn{
  background-color: #C2C2C2;
}

.Conbox .term_box .expand_box .btn{
  background-color: #B70404;
}

.Conbox.disabled_box .term_box .expand_box .btn{
  background-color: #393939;
}

.Notebox .term_box .expand_box .btn{
  background-color: #FFE569;
}

.Notebox.disabled_box .term_box .expand_box .btn{
  background-color: #DFDFDF;
}

.general_box .term_box .term_label .btn{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17;
  width: fit-content;
}

.general_box .term_box .term_label .btn::after{
  content: none;
}

.general_box .term_box .term_label .dropdown-menu{
  position: absolute;
  z-index: 9999;
  font-size: 12px;
  width: auto;
}

.Defbox .term_box .term_label{
  color: #ECF8F9;
}

.Propbox .term_box .term_label{
  color: #ECF8F9;
}

.Justbox .term_box .term_label{
  color: #000;
}

.Conbox .term_box .term_label{
  color: #ECF8F9;
}

.Notebox .term_box .term_label{
  color: #000;
}

.general_box .term_box .input_box .term_input{
  background: transparent;
  border: none;
  border-bottom: 1.5px solid;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
  width: 100px;
  min-width: 100px;
}

.Defbox .term_box .input_box .term_input{
  border-bottom: 1.5px solid #ECF8F9;
  caret-color: #fff;
  color: #fff;
}

.Propbox .term_box .input_box .term_input{
  border-bottom: 1.5px solid #ECF8F9;
  caret-color: #fff;
  color: #fff;
}

.Defbox .term_box .term_input::placeholder{
  color: #9DB2BF;
}

.Propbox .term_box .term_input::placeholder{
  color: #9DB2BF;
}

.general_box .content_box{
  border-radius:  0 16px 16px 16px;
  border-style: solid;
  overflow: hidden;
  transition: all 0.1s ease;
  resize: horizontal;
}

.Defbox .content_box{
  border-color: #0d6efd;
  min-width: 400px;
}

.Defbox.disabled_box .content_box{
  border-color: #606060;
}

.Propbox .content_box{
  border-color: #198754;
  min-width: 500px;
}

.Propbox.disabled_box .content_box{
  border-color: #606060;
}

.Justbox .content_box{
  border-color: #0dcaf0;
  min-width: 500px;
}

.Justbox.disabled_box .content_box{
  border-color: #959595;
}

.Conbox .content_box{
  border-color: #dc3545;
  min-width: 500px;
}

.Conbox.disabled_box .content_box{
  border-color: #686868;
}

.Notebox .content_box{
  border-color: #ffc107;
  min-width: 400px;
}

.Notebox.disabled_box .content_box{
  border-color: #BFBFBF;
}

.general_box .retracted_content{
  height: 0;
  border: none;
  border-radius: 16px;
}


.general_box .content_box .general_textarea{
  background: transparent;
  border: none;
  border-bottom: 1.5px solid;
  outline: none;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  resize: none;
  
}

.Defbox .content_box .general_textarea{
  border-bottom: 1.5px solid #0d6efd;
}

.Defbox.disabled_box .content_box .general_textarea{
  border-bottom: 1.5px solid #606060;
}

.Propbox .content_box .general_textarea{
  border-bottom: 1.5px solid #198754;
}

.Propbox.disabled_box .content_box .general_textarea{
  border-bottom: 1.5px solid #606060;
}

.Justbox .content_box .general_textarea{
  border-bottom: 1.5px solid #0dcaf0;
}

.Justbox.disabled_box .content_box .general_textarea{
  border-bottom: 1.5px solid #959595;
}

.Conbox .content_box .general_textarea{
  border-bottom: 1.5px solid #dc3545;
}

.Conbox.disabled_box .content_box .general_textarea{
  border-bottom: 1.5px solid #686868;
}

.Notebox .content_box .general_textarea{
  border-bottom: 1.5px solid #ffc107;
}

.Notebox.disabled_box .content_box .general_textarea{
  border-bottom: 1.5px solid #BFBFBF;
}

/* For Singlebox */

/* .single_box{
  border-radius: 16px;
  border-style: solid;
  transition: all 0.1s ease;
  cursor: move;
}


.Propbox{
  background-color: #198754;
  border-color: #198754;
}

.single_box .expanded_term{
  border-radius: 16px 16px 0 0;
}

.single_box .row{
  width: 100%;
  margin: 0;
  transition: all 0.1s ease;
}

.single_box .label_box{
  text-align: center;
  padding: 0 5px;
}

.single_box .label_box .term_label{
  margin: 0 auto;
}

.single_box .expand_box{
  padding: 0 4px;
}

.single_box .expand_box .btn{
  padding: 0%;
  transition: all 0.3s ease;
}

.single_box .label_box .btn{
  margin: 0 5px;
  transition: all 0.3s ease;
}

.Propbox .expand_box .btn{
  background-color: #41644A;
}

.single_box .term_label{
  color: #ECF8F9;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17;
  cursor: move;
}

.single_box .content_row_box{
  padding: 0%;
}

.single_box  .content_box{
  border-radius:  16px;
  border-style: solid;
  transition: all 0.1s ease;
  cursor: move;
}

.Propbox .content_box{
  border-color: #fff;
}

.single_box .retracted_content{
  height: 0;
  width: 0;
  border: none;
  border-radius: 16px;
  overflow: hidden;
}


.single_box .content_box .single_textarea{
  background: transparent;
  border: none;
  outline: none;
  margin: 0 auto;
  color: #ECF8F9;
  font-size: 85%;
  resize: horizontal;
  min-width: 350px;
  padding: 0 10px;
  word-wrap: break-word;
  overflow:hidden;
} */